<h1 class="head-title">Real Time Products</h1>

<div id="product-container">
  {{! Products will be shown here }}
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/realTimeProducts.js"></script>